:root {
    --purple: #9767A9;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(15px + 0.390625vw);
    scroll-behavior: smooth;
}

.bold {
    font-weight: bold;
}

/*CSS reset*/
* {
    margin: 0;
    padding: 0;
    min-width: none;
    text-decoration: none;
}

/*HEADER*/
header {
    padding: .5% 0 0.5% 0;
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    background-color: white;
}

/*nav*/
.header-container {
    width: 90%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.links-header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.ul-header {
    display: flex;
    gap: 1rem;
}

.ul-header li {
    list-style: none;
    width: max-content;
    font-size: .8rem;
    align-self: center;
}

.ul-header li:hover {
    scale: 1.07;
}

/*search bar and icons*/
.search-icons {
    display: flex;
    justify-content: space-between;
}

.search-icons input {
    font-size: .8rem;
    width: 5rem;
    padding: 3px;
    border: 2px solid var(--purple);
    border-radius: 10px;
    background-image: url("../imgs/Layer_3.png");
    background-repeat: no-repeat;
    background-position: 2%;
    text-indent: 25px;
    color: var(--purple);
}

.search-icons ion-icon {
    color: var(--purple);
    align-self: center;
    font-size: 1.4rem;
}

/*burger menu*/
.burger {
    width: 3rem;
    height: 3rem;
    color: var(--purple);
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
}

.burger-line {
    width: 2.5rem;
    height: .3rem;
    background-color: white;
    background-color: var(--purple);
    align-self: center;
    border-radius: 4px;
    transition: .5s cubic-bezier(.11,.27,.61,.91);
}

.pseudo {
    opacity: 0;
}

/*MAIN*/
/*first section - the one with the hairy dude*/
.main-bg-image {
    height: 78vh;
    background-image: url("../imgs/cabeludo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    color: white;
    width: 80%;
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text h1 {
    font-size: 3rem;
    width: 30%;
}

.text p {
    font-size: 1.4rem;
    width: 40%;
}

/*second main section*/
.sete-passos {
    background-color: var(--purple);
    color: white;
    display: flex;
    justify-content: center;
}

.sete-passos-text {
    width: 80%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    padding: 3% 0 3% 0;
}

.sete-passos-text h2 {
    font-size: 2rem;
    width: 50%;
}

.sete-passos-text p {
    width: 40%;
}

/*third main section - the one with images and purple text below each one*/
.imgs-and-text {
    display: flex;
    justify-content: center;
}

.imgs-and-text-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    max-width: 1600px;
}

.line-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.img-h2-p {
    display: flex;
    flex-direction: column;
    width: 49%;
}

.img-h2-p:first-child {
    margin-top: -10%;
}

.img-h2-p:last-child {
    margin-top: 10%;
}

.img-h2-p figcaption {
    background-color: var(--purple);
    align-self: center;
    width: 70%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    margin-top: -20%;
    color: white;
}

.img-h2-p figcaption h2 {
    margin-bottom: 5%;
}

.last-image img {
    width: 80%;
    align-self: center;
    margin-top: 20%;
}

/*grid section with images will be here*/
.final-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0 2% 0;
}

.grid-images {
    width: 80%;
    max-width: 1600px;
    display: grid;
    grid-template-columns: 1.53076923fr 1fr 1fr 1.53076923fr 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 0.3rem;
}

.grid-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#img-1 {
    grid-row-start: 1;
    grid-row-end: 3;
}

#img-6 {
    grid-row-start: 2;
    grid-column-start: 2;
}

#img-9 {
    grid-row-start: 3;
    grid-column-start: 2;
}

#img-8 {
    grid-row-start: 3;
}

#img-3 {
    grid-row-start: 1;
    grid-row-end: 3;
}

#img-10 {
    grid-row-start: 3;
    grid-column-start: 3;
}

#img-4 {
    grid-row-start: 1;
    grid-row-end:4;
}

#img-7 {
    grid-row-start: 2;
    grid-row-end: 4;
}

/*FOOTER*/
footer {
    color: white;
    background-color: var(--purple);
    display: flex;
    justify-content: center;
}

.footer-container {
    width: 80%;
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 0 2% 0;
}

.footer-container p {
    font-size: 0.6rem;
    width: 50%;
}

.footer-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.footer-icons ion-icon {
    font-size: 3rem;
    color: white;
}

.arrows {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.arrow {
    width: max-content;
    display: flex;
    align-items: center;
    width: fit-content;
}

.arrow:hover {
    background-color: #e5aef9;
}

.desktop {
    display: flex;
    align-items: center;
    width: min-content;
}

.mobile {
    display: none;
}

#arrow-right {
    border-right: 2px dotted white;
}

#arrow-up {
    border-top: 2px dotted white;
}

#arrow-left {
    border-left: 2px dotted white;
}


@media screen and (max-width:1000px) and (min-width: 851px) {
    .links-header {
        width: 80%;
    }

    .img-h2-p figcaption {
        margin-bottom: 20%;
    }

    .search-icons {
        display: none;
    }
}

@media screen and (max-width: 850px) {

    .header-container img {
        height: 3rem;
    }

    .search-icons {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .logo-burger-container {
        display: flex;
        width: 95%;
        justify-content: space-between;
    }

    .header-container {
        width: 100%;
        justify-content: center;
        flex-direction: column;
        padding: .1rem 0;
    }

    .ul-header {
        flex-direction: column;
        margin-top: 1rem;
        width: 100%;
    }

    .ul-header ~ .search-icons {
        display: flex;
        margin: 1rem 0;
    }

    #buscar {
        width: 15rem;
        font-size: 1rem;
    }

    .ul-header li {
        font-size: 1rem;
        width: 100%;
        text-align: center;
    }

    .header-container img {
        margin: auto;
    }

    .burger {
        display: flex;
        align-self: flex-end;
    }

    .active > div {
        margin-left: .75rem;
    }

    .active > div:first-child {
        transform: rotate(45deg);
        transform-origin: top left;
    }

    .active > div:last-child {
        transform: rotate(-45deg);
        transform-origin: bottom left;
    }

    .active > div:nth-child(2) {
        opacity: 0;
        transform: translateX(-100%);
    }

    .links-header {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: white;
        transform: translateY(-100%);
        z-index: -100;
        transition: .5s linear;
    }

    .links-header.collapsible {
        transform: translateY(58.5%);
    }

    /*MAIN*/
    /*section with the hairy dude*/
    .main-bg-image {
        width: 100%;
        align-items: center;
        background-position: 40%;
        background-size: cover;
    }

    .text {
        flex-direction: column;
        align-items: baseline;
        height: 35%;
    }

    .text h1 {
        width: 60%;
    }

    .text p {
        width: 80%;
    }

    /*sete passos section*/
    .sete-passos-text {
        flex-direction: column;
        justify-content: center
    }

    .sete-passos-text h2,
    .sete-passos-text p {
        width: 100%;
    }

    .sete-passos-text p {
        margin-top: 5%;
    }

    /*figures section*/
    .imgs-and-text-container {
        width: 100%;
    }

    .line-container {
        flex-direction: column;
    }

    .img-h2-p:first-child {
        margin-top: 5%;
    }

    .img-h2-p:last-child {
        margin-top: 5%;
    }

    .img-h2-p {
        width: 100%;
    }

    .img-h2-p img {
        width: 90%;
        align-self: center;
    }

    .img-h2-p figcaption {
        width: 100%;
        padding: 4% 0 4% 0;
    }

    .img-h2-p figcaption * {
        width: 80%;
        align-self: center;
    }

    .last-image img {
        width: 50%;
        align-self: center;
        margin: 0 0 2% 0;
    }

    /*last section in main, the one with pictures on a grid*/
    .grid-images {
        grid-template-columns: repeat(4, auto);
        grid-template-rows: 1fr 1fr 1fr 0.8fr .8fr .8fr 1fr 1fr 1fr;
    }

    #img-1 {
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #img-2 {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 3;
        grid-column-end: 4;
    }

    #img-6 {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 4;
        grid-column-end: 5;
    }

    #img-9 {
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 3;
        grid-column-end: 5;
    }

    #img-8 {
        grid-row-start: 4;
        grid-row-end: 7;
        grid-column-start: 1;
        grid-column-end: 5;
    }

    #img-4 {
        grid-row-start: 7;
        grid-row-end: 9;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    #img-7 {
        grid-row-start: 7;
        grid-row-end: 9;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    #img-3 {
        grid-row-start: 7;
        grid-row-end: 10;
        grid-column-start: 3;
        grid-column-end: 5;
    }

    #img-5 {
        grid-row-start: 9;
        grid-row-end: 10;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    #img-10 {
        grid-row-start: 9;
        grid-row-end: 10;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    /*FOOTER*/
    footer {
        background-color: white;
        color: black
    }

    .footer-container {
        flex-direction: column-reverse;
    }

    .footer-container ion-icon {
        color: var(--purple);
        font-size: 2.5rem;
    }

    .footer-container p {
        width: 100%;
        margin-top: 5%;
    }

    .footer-icons {
        width: 100%;
        justify-content: space-between;
    }

    .social-media-icons,
    .arrows {
        width: fit-content;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
}